/* General syntax */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body styling */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
}
